<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sublivan.movie.mapper.ScheduleMapper">
    <resultMap id="Movie" type="Movie">
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="poster" property="poster"/>
    </resultMap>

    <resultMap id="ScreenRoom" type="ScreenRoom">
        <result column="name" property="name"/>
        <result column="seats" property="seats"/>
    </resultMap>

    <resultMap id="Schedule" type="Schedule">
        <result column="time" property="time"/>
        <collection property="screenRoom" resultMap="ScreenRoom"/>
        <collection property="movie" resultMap="Movie"/>
    </resultMap>

    <select id="getSchedules"  parameterType = "Schedule" resultMap="Schedule">
        select m.title, m.price, sc.time, sr.seats, sr.name
        from movie m join schedule sc
        on m.id = sc.movie_id
        join screenroom sr
        on sr.id = sc.screenroom_id
    </select>
</mapper>