.choice{
    position: absolute;
    z-index: 3;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-bottom: 4px solid #9D9FA1;
    padding: 30px;
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.header {
    text-align: center;
}