<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sublivan.movie.mapper.ReservationMapper">
    <insert id="insertReservation" parameterType="Reservation">
        insert into reservation(seat_number, total_price, phone_number, schedule_id, movie_title, screenroom)
        value(#{seatNumber}, #{totalPrice}, #{phoneNumber}, #{scheduleId}, #{movieTitle}, #{screenroom});

    </insert>

    <select id = "countReserved" resultType="int">
        select count(*) from reservation where schedule_id = #{scheduleId}
    </select>

    <select id = "findByPhone" resultType="java.util.HashMap">
        select r.seat_number seatNumber, r.total_price totalPrice, r.phone_number phoneNumber, r.schedule_id scheduleId, r.movie_title movieTitle,
               r.screenroom screenroom, sc.time reservedTime
        from reservation r join schedule sc on r.schedule_id = sc.id
        where r.phone_number = #{phoneNumber}
    </select>
</mapper>