<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sublivan.movie.mapper.ScheduleMapper">
    <resultMap id="Movie" type="Movie">
        <result column="title" property="title"/>
        <result column="price" property="price"/>
    </resultMap>

    <resultMap id="ScreenRoom" type="ScreenRoom">
        <result column="name" property="name"/>
        <result column="seats" property="seats"/>
    </resultMap>

    <resultMap id="Schedule" type="Schedule">
        <result column= "scheduleId" property = "id"/>
        <result column= "time" property="time"/>
        <result column= "movie_id" property="movieId"/>
        <result column="screenroom_id" property="screenRoomId"/>

        <collection property="screenRoom" resultMap="ScreenRoom"/>
        <collection property="movie" resultMap="Movie"/>
    </resultMap>

    <select id="getMovieScheduleInfo"  parameterType = "Schedule" resultMap="Schedule">
       select m.title, m.price, sc.id scheduleId, sc.time, sc.movie_id, sc.screenroom_id, sr.seats, sr.name
       from movie m join schedule sc
       on m.id = sc.movie_id
       join screenroom sr
       on sr.id = sc.screenroom_id
       where sc.id = #{scheduleId};
    </select>
</mapper>